html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif !important;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.text-1 {
    color: #003840;
}

.text-2 {
    color: #005A5B;
}

.text-3 {
    color: #007369;
}

.text-4 {
    color: #008C72;
}

.text-5 {
    color: #02A676;
}

.text-6 {
    color: #1e1e20;
}

.text-7 {
    color: #18181a;
}

.text-8 {
    color: #ffffff;
}

.background-1 {
    background-color: #003840;
}

.background-2 {
    background-color: #005A5B;
}

.background-3 {
    background-color: #007369;
}

.background-4 {
    background-color: #008C72;
}

.background-5 {
    background-color: #02A676;
}

.background-6 {
    background-color: #1e1e20;
}

.background-7 {
    background-color: #18181a;
}

.background-8 {
    background-color: #ffffff;
}

.w-100 {
    width: 100%;
}

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: start;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.fs-1 {
    font-size: 1rem;
}

.fs-2 {
    font-size: 1.5rem;
}

.fs-3 {
    font-size: 2rem;
}

.logo {
    text-decoration: none;
}

.logo:hover {
    color: #007369;
    transition: color .15s ease-in-out, text-decoration .15s ease-in-out;
}

.header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.kanban {
    font-style: italic;
}

.horizontal-list {
    list-style-type: none;
    margin-left: 2rem;
}

.horizontal-list li {
    display: inline;
    margin-right: 0.7rem;
}

.horizontal-list li a {
    text-decoration: none;
    color: #ffffff;
}

.horizontal-list li a:hover {
    color: #007369;
    transition: color .15s ease-in-out, text-decoration .15s ease-in-out;
}

.button-1 {
    background-color: transparent;
    border: 1px solid #02A676;
    border-radius: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: #02A676;
}

.button-1:hover {
    color: #007369;
    border-color: #007369;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
}

.link-1 {
    color: #003840;
}

.link-1:hover {
    color: #02A676;
    transition: color .15s ease-in-out;
    cursor: pointer;
}

.link-1 i.bi.bi-trash:hover {
    color: red;
    transition: color .15s ease-in-out;
    cursor: pointer;
}

.main {
    height: 70vh;
    display: flex;
    overflow-x: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    overflow-y: auto;
    width: 25%;
}

.card {
    background-color: #f2f2f2;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-title {
    border-bottom: 2px solid #007369;
    padding-bottom: 0.2rem;
    width: 100%;
}

.card-title span {
    font-size: 1rem;
    font-weight: 500;
}

.card-description {
    margin-top: 0.6rem;
}

.card-description span {
    font-size: 0.85rem;
}

.card-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.7rem;
}

.card-footer i {
    margin-left: 0.7rem;
}

.column-header {
    margin-bottom: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.3rem;
}

.column-header span {
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
}

.backlog {
    border-bottom: 3px solid #384E77;
}

.backlog span {
    color: #384E77;
}

.to-do {
    border-bottom: 3px solid #771C1C;
}

.to-do span {
    color: #771C1C;
}

.doing {
    border-bottom: 3px solid #776B2C;
}

.doing span {
    color: #776B2C;
}

.done {
    border-bottom: 3px solid #1C7723;
}

.done span {
    color: #1C7723;
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}

.grab:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}