div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: #18181a !important;
    border-radius: 1rem !important;
    padding-bottom: 1rem !important;
}

div:where(.swal2-icon).swal2-info {
    border-color: #384E77 !important;
    color: #384E77 !important;
}

div:where(.swal2-icon).swal2-error {
    border-color: #771C1C !important;
    color: #771C1C !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=left], div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=right] {
    background-color: #771C1C !important;
}

div:where(.swal2-icon).swal2-warning {
    border-color: #776B2C !important;
    color: #776B2C !important;
}

div:where(.swal2-icon).swal2-success {
    border-color: #02A676 !important;
    color: #02A676 !important;
}

.swal2-title, .swal2-html-container {
    color: #ffffff !important;
}

.swal2-title {
    font-weight: normal !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: transparent;
    border: 1px solid #02A676;
    border-radius: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #02A676;
}

div:where(.swal2-container):hover button:where(.swal2-styled).swal2-confirm:not([disabled]):hover {
    color: #007369 !important;
    border-color: #007369 !important;
    transition: color .15s ease-in-out, border-color .15s ease-in-out !important;
    cursor: pointer !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
    background-color: transparent;
    border: 1px solid #771C1C;
    border-radius: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #771C1C;
}

div:where(.swal2-container):hover button:where(.swal2-styled).swal2-deny:hover {
    color: #5c1616 !important;
    border-color: #5c1616 !important;
    transition: color .15s ease-in-out, border-color .15s ease-in-out !important;
    cursor: pointer !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus,
div:where(.swal2-container) button:where(.swal2-styled).swal2-deny:focus {
    box-shadow: none !important;
}